@import "./reset.css";
@import "./config.css";
@import "./util.css";
@import "./list/list.css";
@import "./room/room.css";
@import "./manager/manager.css";
@import "./font.css";
@import "./emoji.css";

body{
	background: #4e5359 url(../../images/bg.png) repeat 0 0;
    color: #3a4a59;
    font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial;
    a:hover{
    	color:$hoverColor;
    }
}
/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #a0a9af;
  border-radius: 4px;
}

::-moz-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-moz-scrollbar-thumb {
  background-color: #a0a9af;
  border-radius: 4px;
}
.g-doc{
	width: 1002px;
	margin: 0 auto;
}
.m-head{
	width: 100%;
	height: 54px;
	background-color: #fff;
	border-top: 2px solid #238efa;
	.g-doc{
		@mixin clearfix;
	}
	.item{
		display: inline-block;
		font-size: 14px;
		line-height: 54px;
		height: 54px;
		color: #1b2126;
	}
	.logo{
		padding-left: 30px;
		background:url(../../images/logo.png) no-repeat 0 15px;
	}
	.nav{
		margin-left: 20px;
	}
	.action{
		float: right;
		position: relative;
		margin-right: 40px;
		font-size: 12px;
		color:#909ead;
		cursor: pointer;
		&:hover{
			.icon{
				background-position:-17px 0;
			}
			color:$hoverColor;
		};
		.icon{
			position: absolute;
			top:15px;
			left: -15px;
			width: 15px;
			height: 20px;
			background: url(../../images/icon.png) no-repeat 0 0;
		}
	}
	.info{
		float: right;
		position: relative;
		display: inline-block;
		padding-left: 35px;
		font-size: 12px;
		color:#909ead;
		img{
			position: absolute;
			top:13px;
			left:0px;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: yellow;
		}
	}
}

