.back-btn {
    width: 68px;
    height: 34px;
    line-height: 34px;
    background-color: #f5f5f5;
    color:#88939b;
    font-size: 12px;
    border: 1px solid #ced4d9;
    position: absolute;
    left: 15px;
    top: 13px;
}
.info-box .title {
    line-height: 60px;
    font-size: 16px;
}
.info-content {
    height: 500px;
    padding: 12px 20px;
    overflow: scroll;
}
.info-content ul li {
    float: left;
    margin: 5px 25px;
    width: 60px;
    position: relative;
    text-align: center;
    display: inline-block;
}
.info-content ul a .hover {
    display: none;
}
.info-content .owner a:hover .hover {
    display: inline-block;
}
.info-content ul .first {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px dashed #ccc;
    line-height: 60px;
}
.info-content ul .first:hover {
    background-color: #f5f5f5;
}
.info-content ul .last {
    margin-right: 0;
}
.add-item .icon-plus {
    background-position: -32px -111px;
    margin-right: 5px;
    width: 26px;
    height: 26px;
}
.icon-user {
    background-position: -65px -142px;
    position: absolute;
    bottom: 36px;
    right: 8px;
    border: 1px solid #fff;
}
.icon-radio {
    background-position: -85px -50px;
}
.icon-radio.cur {
    background-position: -63px -50px;
}
.icon-radio.cur2 {
    background-position: -84px 0;
}
.info-content ul li img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.info-content ul li p {
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.team-wrapper {
    height: 445px
}
.team-box .title {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}
.user-list {
    height: 450px;
    width: 448px;
    border-right: 1px solid #ececec;
    float: left;
}
.added-list {
    height: 450px;
}
.user-list img,.added-list img{
   border-radius: 50%;
}
.user-list ul, .added-list ul {
    overflow-y: auto;
    padding: 15px;
    height: 100%;
}
.user-list ul {
    float: left;
}
.user-list ul li {
    width: 148px;
    float: left;
    line-height: 40px;
    margin-bottom:10px;
    cursor: default;
}
.user-list  li img {
    vertical-align: middle;
    margin: 0 8px;
    width: 40px;
    height: 40px;
}
.user-list ul .name{
    display: inline-block;
    width: 75px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.added-list {
    margin-left: 448px;
}
.added-list ul li {
    float: left;
    width: 50%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.added-list ul .name{
    display: inline-block;
    width: 80px;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
}
.hover {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 50%;
    line-height: 56px;
    color: #f24c3d;
    top: 0;
    left: 50%;
    margin-left: -28px;
}
.box-footer {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 22px 0;
    border-top: 1px solid #ddd;
}
.info-footer {
    height: 50px;
    line-height: 50px;
    color:#aaa;
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    left: 0;
    font-size: 12px;
    background-color: #fff;
}
.icon-write {
    background-position: -62px -114px;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.info-footer .name {
    color:#3a4a59;
    max-width: 50%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}
.info-footer input {
    display: none;
    border-width:0;
    border-color:#ddd;
    border-style: solid;
    padding: 5px 10px;
}
.info-footer .exit-team {
    position: absolute;
    right: 10px;
    top: 0;
    color:#0888ff;
}
.info-footer .wrap.active {
    border: 1px solid #ddd;
    padding: 8px 0;
}
.info-footer .wrap .groupName{
    width:200px;
    display:inline-block;
}
.info-footer .wrap.active input{
    display: inline-block;
}
.info-footer .wrap.active .groupName{
    display: none;
}
.info-footer .wrap a .icon {
    visibility: hidden;
}
.info-footer .owner:hover .icon {
    visibility: visible;
}