.extend-transference {
  position: absolute;
  z-index: 5;
  width: 120px;
  height: 50px;
  top: 30px;
  left: 0;
  background: #ffffff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.extend-transference .transference-btn {
  width: 100%;
  height: 50px;
  font-size: 21px;
  color: #1bb8f9;
  text-align: center;
  line-height: 50px;
  background: none;
  border: none;
}

#extend-transference-iframe {
  width: 80%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 111;
  background: #ffffff;
}

.extend-close {
  display: none;
}

.extends-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
}