body {
    background: #f5f5f5;
}
.bad-network {
    line-height: 38px;
    background-color: #7c858b;
    width: 360px;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
}
.wrapper {
    width: 316px;
    height: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -158px;
    font-size: 14px;
    padding-top: 108px;
    box-sizing: border-box;
    background: url(../images/logo.png) no-repeat top center;
}
.row {
    margin-bottom: 14px;
    position: relative;
}
.row input {
    padding: 10px 0 10px 30px;
    border: 1px solid #ddd;
    width: 280px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.icon-account {
    background-position: 0 -112px;
    position: absolute;
    left: 25px;
    top: 9px;
}
.icon-pwd {
    background-position: 0 -133px;
    position: absolute;
    left: 25px;
    top: 9px;
}
.btn-login {
    width: 280px;
    line-height: 44px;
    border-radius: 5px;
    background: #0888ff;
    color: #fff;
    font-size: 14px;
}
.btn-login:disabled {
    background-color: #5eb2ff;
}
.error-msg {
    font-size: 14px;
    color: #e60012;
    padding-left: 18px;
}
.show-error-msg {
    opacity: 1;
    top: 0;
    -webkit-transition: 0.5s cubic-bezier(0, 0.5, 0, 1);
    -moz-transition: 0.5s cubic-bezier(0, 0.5, 0, 1);
    transition: 0.5s cubic-bezier(0, 0.5, 0, 1);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.footer{
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -250px;
	line-height: 20px;
	color: #888;
	width: 500px;
}
.u-redirect{
    text-align: center;
}
.m-register .type{
    position: absolute;
    left: 25px;
    top: 10px;
    display: inline-block
    color:#999;

}
.m-register .row input{
    padding: 10px 0 10px 48px;
}
